.post-card {
  max-width: 50vw;
  margin: 0 auto 1rem auto;
}

.post-image {
  height: 50vh;
  width: 26vw;
  object-fit: cover;
}

.post-action-icon {
  cursor: pointer;
}

.post-delete-icon {
  cursor: pointer;
}

.post-edit-icon {
  cursor: pointer;
  transition: color 0.2s;
}

.post-edit-icon:hover {
  color: #0056b3 !important;
}

